<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Reques Header Parser</title>
    <link rel="stylesheet" href="">
</head>

<body class="indigo">
    <div class="row">
        <div class="col-12 center">
            <h2> Request Header Parser</h1>
        </div>
    </div>

    <div class="row">
        <div class="container col l10 push-l1 center light-blue lighten-4">
            <p>You can click the link below and get information about your ip, language and the browser </p>
            <div class="box">
                <h4>Example Input</h4>
                <a href="/api/whoami">whoami</a><br>
            </div>
            <div class="box">
                <h4>Example Output</h4>
                <code>{"ipaddress":"::ffff:127.0.0.1","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0"}</code>
            </div>
        </div>
    </div>



</body>

</html>